{% extends "voc2.j2" %}

{% block summary %}
<p>
Dit vocabularium richt zich op maatregelen die bodemerosie bestrijden, zoals bijvoorbeeld erosiepoelen.
Wat volgt zijn een aantal use cases die hieronder vallen:
</p>

<ul>
  <li>Het bekijken van de huidige toestand van een erosiebestrijdingsmaatregel.</li>
  <li>
      Voorspellingen doen aan de hand van observaties over de erosiebestrijdingsmaatregelen en
      de zones die hierop betrekking hebben.
  </li>
  <li>
    Het bijhouden van welk onderhoud er gebeurd is op welke erosiebestrijdingsmaatregelen.
  </li>
  <li>
    Het beschrijven waar een bepaalde sensor staat ten op zichte van een erosiebestrijdingsmaatregel.
    Dit kan bijvoorbeeld zijn in het geval dat een sensor aan de ingang staat van een erosiepoel.
    Dit heeft belang om de waarde van een observatie door die sensor correct te gebruiken.
  </li>
</ul>

<p>
Je kan een aantal datavoorbeelden
<a href="https://github.com/Informatievlaanderen/OSLOthema-modderstromen/tree/main/data-examples">hier</a> terugvinden.
</p>
{% endblock %}
