{% extends "ap2.j2" %}

{% block summary %}
<p>
Dit applicatieprofiel richt zich op maatregelen die bodemerosie bestrijden, zoals bijvoorbeeld erosiepoelen.
Wat volgt zijn een aantal use cases die hieronder vallen:
</p>

<ul>
  <li>Het bekijken van de huidige toestand van een erosiebestrijdingsmaatregel.</li>
  <li>
      Voorspellingen doen aan de hand van observaties over de erosiebestrijdingsmaatregelen en
      de zones die hierop betrekking hebben.
  </li>
  <li>
    Het bijhouden van welk onderhoud er gebeurd is op welke erosiebestrijdingsmaatregelen.
  </li>
  <li>
    Het beschrijven waar een bepaalde sensor staat ten op zichte van een erosiebestrijdingsmaatregel.
    Dit kan bijvoorbeeld zijn in het geval dat een sensor aan de ingang staat van een erosiepoel.
    Dit heeft belang om de waarde van een observatie door die sensor correct te gebruiken.
  </li>
</ul>

<p>
Het datamodel bestaat uit onder andere de volgende klassen.
De klasse Erosiebestrijdingsmaatregel is de superklasse voor elk maatregel die helpt bij het bestrijden van erosie,
inclusief een erosiepoel.
Een Erosiebestrijdingsmaatregel kan bestaan uit verschillende onderdelen, bijvoorbeeld ingang en uitgang,
voor welke we de klasse Erosiebestrijdingsmaatregelonderdeel gebruiken.
Daarnaast heeft een Erosiebestrijdingsmaatregel ook een aanvoer- en afvoerzone waarvoor we de klasse Zone gebruiken.
Voor de metingen omtrent Erosiebestrijdingsmaatregelen gebruiken we de klasse Observatie die gelinkt kan worden
aan een FeatureOfInterest, welke een superklasse is van Erosiebestrijdingsmaatregel,
een GeobserveerdKenmerk, bijvoorbeeld vochtigheid of densiteit, en
een Sensor.
Voor het onderhoud van Erosiebestrijdingsmaatregelen gebruiken we de klasse Onderhoud die een subklasse is van
de klasse Actuatie, welke gelinkt is aan de klasse FeatureOfInterest.
</p>

<p>
Je kan een aantal datavoorbeelden
<a href="https://github.com/Informatievlaanderen/OSLOthema-modderstromen/tree/main/data-examples">hier</a> terugvinden.
</p>
{% endblock %}
