{% extends "ap2.j2" %}

{% block summary %}
Je kan een aantal datavoorbeelden
<a href="https://github.com/Informatievlaanderen/OSLOthema-modderstromen/tree/main/data-examples">hier</a> terugvinden.
{% endblock %}
